body {
    background-color: #120924;
    color: #ffffff;
    font-family: system-ui, sans-serif;
    background-image: url(imagem/espaco.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topo {
    text-align: center;
}

.topo h1 {
    margin-bottom: 10px;
    color: #9d4edd;
    font-weight: 800;
}

.topo h2 {
    margin-top: 0px;
    color: #cbb2ff;
    font-weight: 700;
}

.tampa {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
    background-color: #1e123c;
    border-radius: 15px;
    padding: 30px 15px;
    border: 2px solid #3c2a70;
}

.caixa h3 {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 10px 5px;
    font-size: 16px;
    position: absolute;
    background-color: rgba(18, 9, 36, 0.7);
    bottom: 0;
    left: 0;
    border-radius: 15px;
}

.caixa {
    background-color: #241747;
    width: 180px;
    height: 270px;
    border-radius: 8px;
    border: 4px solid #3c2a70;
    transition: transform 0.2s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.caixa:hover {
    transform: scale(1.05);
    border-color: #9d4edd;
}